body {
	margin: 0;
	background-color: #333533;
}

#canvas-container {
	padding-top: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

canvas {
	display: block;
	background-color: beige;
}

header {
	width: 100vw;
	height: 5rem;
	background-color: #f5cb5c;
}
