body {
	margin: 0;
	background-color: #333533;
}

#canvas-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

canvas {
	display: block;
	background-color: beige;
}

header {
	width: 100vw;
	height: 5rem;
	background-color: #f5cb5c;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: nowrap;
}

.header-left {
	display: flex;
	align-items: center;
	flex-direction: row;
	gap: 3rem;
	padding-left: 10rem;
	padding-top: 1rem;
}

.header-right {
	padding-right: 10rem;
	padding-top: 1rem;
}

.header-text {
	font-family: "Baloo Tammudu 2";
	font-size: 25px;
	font-weight: 600;
}

.header-title {
	font-family: "Baloo Tammudu 2";
	font-size: 40px;
	font-weight: bold;
}

.toolbar {
	padding: 0.5rem, 0, 0.5rem, 0;
	height: 10rem;
	width: 1600px; /*Don't like this hardcoded value but ok*/
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
}

.toolbar-left {
	display: flex;
	align-items: center;
	justify-items: center;
	flex-direction: row;
	padding-left: 5rem;
	padding-top: 5rem;
	padding-bottom: 3rem;

	gap: 1rem;
}

.toolbar-right {
	display: flex;
	align-items: center;
	justify-items: center;
	flex-direction: row;
	padding-right: 5rem;
	padding-top: 5rem;
	padding-bottom: 3rem;
	gap: 1rem;
}
.toolbar-button {
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: background-color linear 100ms;
	padding: 1rem;

	border-radius: 10px;
}

.toolbar-button:hover {
	background-color: #464746;
}

.start-text {
	font-size: 25px;
	height: 30px;
	color: #e8eddf;
	font-family: "Baloo Tammudu 2";
}
